# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
empl = salaries.groupby('Department')['Name'].count()

In [8]:
empl

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [15]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [51]:

from scipy.stats import ttest_1samp

is_hour = salaries['Hourly Rate'] > 0
hour_rat = salaries[is_hour]
hour = ttest_1samp(hour_rat['Hourly Rate'], 30)
#ttest_1sampResult(statistic=-3.47086065584463, pvalue=0.0007702018310937669)
hour

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [48]:
is_p = salaries['Department']== 'POLICE'
pol = salaries[is_p]
is_p = pol['Annual Salary'] > 0
pol = pol[is_p]
pol

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
32,"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
34,"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
38,"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
46,"ABRON, FLOYD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
47,"ABRON, KIMYENNA D",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
50,"ABUDAYEH, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
51,"ABUEID, EID I",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
53,"ABURIZEG, MOHAMMAD",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
55,"ABUZANAT, ABDALLA H",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,97440.0,NaN
58,"ACCARDO, ANTHONY V",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
59,"ACCARDO, JENNIFER A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
60,"ACCARDO, THOMAS J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
64,"ACEVEDO, AARON F",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
65,"ACEVEDO, ALEJANDRO R",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
66,"ACEVEDO, BIENVENIDO",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
68,"ACEVEDO, DAVID M",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
69,"ACEVEDO, EDWARD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
70,"ACEVEDO, EDWIN",DETENTION AIDE,POLICE,F,Salary,NaN,43800.0,NaN
72,"ACEVEDO, ERIC",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
74,"ACEVEDO, ILIA",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
...,...,...,...,...,...,...,...,...
33117,"ZOLLER, RICHARD S",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33118,"ZOLLMER, MELISSA",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33122,"ZOOK, JOHN S",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33124,"ZOTTA, FRANK",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33129,"ZUBB, SHANNON M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33130,"ZUBECK, GINA M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33131,"ZUBECK, JAMES F",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33133,"ZUBER, MICHAEL R",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,100980.0,NaN
33134,"ZUBER, PATRICIA O",LIEUTENANT,POLICE,F,Salary,NaN,127692.0,NaN
33140,"ZULEVIC, JANAAN M",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33141,"ZULFIC, ALEN",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33142,"ZULKEY, JOSEPH",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,91080.0,NaN
33146,"ZUMBROCK, JOHN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33151,"ZUNIGA, JUAN M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33152,"ZUNIGA, JURDON",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33153,"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33163,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33166,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33170,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33172,"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [49]:
# Your code here:
hour = ttest_1samp(pol['Annual Salary'], 86000)

In [50]:
hour

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [22]:
# Your code here:
work_h = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])
work_h

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

In [23]:
work_h.sort_values('Hourly', ascending = False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [43]:
is_hour = salaries['Department']== 'STREETS & SAN'
hour_w = salaries[is_hour]
is_hour = hour_w['Hourly Rate'] > 0
hour_w = hour_w[is_hour]
hour_w

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
132,"ADAMS, GARY W",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
137,"ADAMS, JAMES H",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
145,"ADAMS, KRYSTA",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,20.77
152,"ADAMS, QUAN R",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
159,"ADAMS, SHEILA",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,20.12
169,"ADDANTE, VINCENZO",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
209,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
210,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
217,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
223,"AGUILAR JR, ROBERT",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,32.04
232,"AGUILERA, JESUS",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
237,"AGUILERA, TONY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
240,"AGUIRRE, ALEX",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
288,"AINUDDIN, ZAHID N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
289,"AITKEN, CAMUHOO R",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
302,"AKINS, LISA",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
334,"ALBA, SAUL B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
337,"ALBERT, LOUIS",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,32.59
348,"ALCALA, RUBEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
398,"ALEXANDER, MARK A",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
408,"ALEXANDER, VERONICA J",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
...,...,...,...,...,...,...,...,...
32642,"WRIGHT, JULIUS",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32645,"WRIGHT, LESLIE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32656,"WRIGHT, RONALD A",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32660,"WRIGHT, SHAWN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32765,"YEPEZ, JOSE A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
32784,"YONG, RICKY",FOREMAN OF MOTOR TRUCK DRIVERS,STREETS & SAN,F,Hourly,40.0,NaN,37.56
32790,"YORK, DARREL A",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32801,"YOUNG, ALLEN A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
32806,"YOUNG, BRUCE",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
32810,"YOUNG, CHARLES C",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32832,"YOUNG, LADIVA M",DISPATCHER - ARBORIST,STREETS & SAN,F,Hourly,40.0,NaN,40.20
32836,"YOUNG, LINDA F",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32850,"YOUNG, TAWANNA M",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,20.12
32869,"YUNG, MAY",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32884,"ZACCARI, EDWARD M",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,32.04
32915,"ZALEWSKI, FRANK A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32937,"ZAMORA, JESUS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
32940,"ZAMORA, PASCUAL",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32947,"ZANIN, KEVIN M",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32971,"ZARESKI, WALTER S",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32974,"ZARLENGA, MICHAEL C",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32995,"ZAVOS, JAMES M",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33000,"ZAWILA, ROBERT",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33042,"ZEPEDA, ERNESTO",TREE TRIMMER,STREETS & SAN,F,Hourly,40.0,NaN,37.25
33105,"ZIZUMBO, DAVID",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12

In [44]:
# Your code here:
hourly_street = ttest_1samp(hour_w['Hourly Rate'], 35)
hourly_street

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [52]:
hourlyw = salaries['Hourly Rate'] > 0
hour_work = salaries[hourlyw]
hour_work

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
33,"ABRAHAMSON, MICHAEL C",STUDENT INTERN - MAYOR'S FELLOWS,MAYOR'S OFFICE,F,Hourly,35.0,NaN,20.00
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
40,"ABRAMS, TIFFANY",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
42,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,F,Hourly,40.0,NaN,44.88
48,"ABRONS, KENNETH L",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
52,"ABUHASHISH, AWWAD",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
56,"ACCARDI, JOHNNA L",EQUIPMENT DISPATCHER,AVIATION,F,Hourly,40.0,NaN,36.22
57,"ACCARDO, ANTHONY D",CONSTRUCTION LABORER,AVIATION,F,Hourly,40.0,NaN,40.20
62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
77,"ACEVEDO, JAVIER",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,40.20
87,"ACEVEDO, STEVEN A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,32.04
90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
95,"ACKLIN, QIANA D",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
96,"ACOSTA, CESAR I",STEAMFITTER,WATER MGMNT,F,Hourly,40.0,NaN,47.50
99,"ACOSTA, JORGE",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
108,"ACRES, ANTHONY E",LABORER,GENERAL SERVICES,F,Hourly,40.0,NaN,40.20
111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
112,"ADAMCZYK JR, JAN",BOOTER - PARKING,FINANCE,F,Hourly,40.0,NaN,32.25
115,"ADAME, JORGE A",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
...,...,...,...,...,...,...,...,...
33079,"ZIELINSKI, THEODORE J",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33080,"ZIEMANN, DAVID M",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33081,"ZIEMANN, DONALD W",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33087,"ZIENTARSKI, DAVID A",OPERATING ENGINEER-GROUP A,GENERAL SERVICES,F,Hourly,40.0,NaN,47.44
33090,"ZIMMERMAN, EDWARD A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33094,"ZINCHUK, BRIAN C",OPERATING ENGINEER-GROUP A,WATER MGMNT,F,Hourly,40.0,NaN,47.44
33103,"ZIVAT, MICHAEL",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33104,"ZIZUMBO, DANIEL",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33105,"ZIZUMBO, DAVID",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33108,"ZIZZO, RUSS D",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33112,"ZOCHOWSKI, DAVID J",OPERATING ENGINEER-GROUP C,AVIATION,F,Hourly,40.0,NaN,45.07
33120,"ZOLTEK, JOHN J",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
33128,"ZOVKO, RICHARD A",HOISTING ENGINEER - MECHANIC,GENERAL SERVICES,F,Hourly,40.0,NaN,52.10
33132,"ZUBECK, JOHN",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33135,"ZUCCARELLI, ROBERT A",BRIDGE AND STRUCTURAL IRON WORKER,TRANSPORTN,F,Hourly,40.0,NaN,46.20
33136,"ZUCKER, MICHAEL J",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33145,"ZUMARAS, ROLAND A",AIRPORT MAINTENANCE FOREMAN,AVIATION,F,Hourly,40.0,NaN,35.57
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33150,"ZUNIGA JR, JAMES",GARAGE ATTENDANT,GENERAL SERVICES,F,Hourly,40.0,NaN,23.31
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [55]:
from scipy.stats import t
from scipy.stats import sem

In [56]:
# Your code here:
prom = np.mean(hour_work['Hourly Rate'])
s_er = sem(hour_work['Hourly Rate'])
tamaÃ±o = len(hour_work['Hourly Rate'])

In [57]:
t.interval(.95, tamaÃ±o-1, loc=prom, scale=s_er)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [58]:
salaryw = salaries['Annual Salary'] > 0
salary_work = salaries[salaryw]
salary_work

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
20,"ABDULSATTAR, MUDHAR",CIVIL ENGINEER II,WATER MGMNT,F,Salary,NaN,65448.0,NaN
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
23,"ABERCROMBIE IV, EARL S",PARAMEDIC I/C,FIRE,F,Salary,NaN,82614.0,NaN
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
29,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,FAMILY & SUPPORT,F,Salary,NaN,110064.0,NaN
30,"ABRAHAM, GIRLEY T",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
31,"ABRAHAM, KELVIN",ENGINEERING TECHNICIAN V,TRANSPORTN,F,Salary,NaN,55644.0,NaN
32,"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
34,"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
35,"ABRAMAVICIUS, ANNA A",SUPERINTENDENT OF SPECIAL TRAFFIC SERVICES,OEMC,F,Salary,NaN,65820.0,NaN
37,"ABRAMSKI, JOHN E",AMBULANCE COMMANDER,FIRE,F,Salary,NaN,128970.0,NaN
38,"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
41,"ABRATANSKI, MARK A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN
43,"ABREU, ROBERTO J",TRAFFIC SIGNAL REPAIRMAN,TRANSPORTN,F,Salary,NaN,101712.0,NaN
...,...,...,...,...,...,...,...,...
33141,"ZULFIC, ALEN",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33142,"ZULKEY, JOSEPH",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,91080.0,NaN
33143,"ZULLO, JOHN J",FIREFIGHTER,FIRE,F,Salary,NaN,97386.0,NaN
33144,"ZUMARAS, ANTHONY R",PARAMEDIC,FIRE,F,Salary,NaN,56304.0,NaN
33146,"ZUMBROCK, JOHN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33148,"ZUMWALT, MICHAEL",ASST CORPORATION COUNSEL II,LAW,F,Salary,NaN,83136.0,NaN
33151,"ZUNIGA, JUAN M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33152,"ZUNIGA, JURDON",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33153,"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33157,"ZUNIGA, VICENTE",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
33159,"ZUPAN, BILL M",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33162,"ZURAWSKI, MAC Z",REFUSE COLLECTION COORD,STREETS & SAN,F,Salary,NaN,76896.0,NaN
33163,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33165,"ZUREK, MARY H",SENIOR PUBLIC INFORMATION OFFICER,FINANCE,F,Salary,NaN,89076.0,NaN
33166,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33167,"ZVANJA, TINA M",LEGAL SECRETARY,LAW,F,Salary,NaN,76932.0,NaN
33170,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33171,"ZWOLFER, MATTHEW W",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33172,"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [59]:
# Your code here:
prome = np.mean(salary_work['Annual Salary'])
s_err = sem(salary_work['Annual Salary'])
tama = len(salary_work['Annual Salary'])
t.interval(.95, tama-1, loc=prome, scale=s_err)

(86526.99656774197, 87047.0030125611)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [71]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest 
x = proportions_ztest(len(hour_work['Salary or Hourly']), len(salaries['Salary or Hourly']), value=.25)

In [72]:
x

(-3.5099964213703005, 0.0004481127249057967)

In [66]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86