# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 1.4+ MB

In [5]:
salaries.isnull().mean()

Name                 0.00000
Job Titles           0.00000
Department           0.00000
Full or Part-Time    0.00000
Salary or Hourly     0.00000
Typical Hours        0.75825
Annual Salary        0.24175
Hourly Rate          0.75825
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
asalariado = salaries[salaries['Salary or Hourly'] == 'Salary']
asalariado.count()

Name                 25161
Job Titles           25161
Department           25161
Full or Part-Time    25161
Salary or Hourly     25161
Typical Hours            0
Annual Salary        25161
Hourly Rate              0
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

In [7]:
# Your code here:
x_hora = salaries[salaries['Salary or Hourly'] == 'Hourly']
x_hora.count()

Name                 8022
Job Titles           8022
Department           8022
Full or Part-Time    8022
Salary or Hourly     8022
Typical Hours        8022
Annual Salary           0
Hourly Rate          8022
dtype: int64

In [8]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
salaries['Department'].unique()

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

In [10]:
# your answer here
salarios_tabla = pd.pivot_table(salaries,
                                        index=('Department','Job Titles'),
                                        aggfunc={'Job Titles': 'count'})
salarios_tabla

                                                       Job Titles
Department   Job Titles
ADMIN HEARNG ADMINISTRATIVE ASST II                            18
             ADMINISTRATIVE ASST III                            3
             ADMINISTRATIVE SERVICES OFFICER II EXCLD           1
             ADMINISTRATIVE SUPVSR                              1
             ASST TO THE EXEC DIR                               1
...                                                           ...
WATER MGMNT  WATER METER ASSESSOR                               2
             WATER METER MACHINIST                             23
             WATER QUALITY INSPECTOR                            2
             WATER QUALITY MANAGER                              1
             WATER RATE TAKER                                  18

[2001 rows x 1 columns]

In [11]:
# Your code here:
salaries.groupby(['Department']).agg({'Job Titles':'count'})

                       Job Titles
Department
ADMIN HEARNG                   39
ANIMAL CONTRL                  81
AVIATION                     1629
BOARD OF ELECTION             107
BOARD OF ETHICS                 8
BUDGET & MGMT                  46
BUILDINGS                     269
BUSINESS AFFAIRS              171
CITY CLERK                     84
CITY COUNCIL                  411
COMMUNITY DEVELOPMENT         207
COPA                          116
CULTURAL AFFAIRS               65
DISABILITIES                   28
DoIT                           99
FAMILY & SUPPORT              615
FINANCE                       560
FIRE                         4641
GENERAL SERVICES              980
HEALTH                        488
HUMAN RELATIONS                16
HUMAN RESOURCES                79
INSPECTOR GEN                  87
LAW                           407
LICENSE APPL COMM               1
MAYOR'S OFFICE                 85
OEMC                         2102
POLICE                      13414
POLICE BOARD                    2
PROCUREMENT                    92
PUBLIC LIBRARY               1015
STREETS & SAN                2198
TRANSPORTN                   1140
TREASURER                      22
WATER MGMNT                  1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [12]:
from statsmodels.stats.weightstats import ztest

In [22]:
# Your code here:
salarios_x_hora = salaries['Hourly Rate']
salarios_x_hora_sin_nulos = salarios_x_hora.dropna()
salarios_x_hora_sin_nulos

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [23]:
ztest(salarios_x_hora_sin_nulos, value=30)

(20.6198057854942, 1.8228873859286195e-94)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [25]:
# Your code here:
salarios_año = salaries['Annual Salary']
salarios_anuales = salarios_año.dropna()
ztest(salarios_anuales, value=86000)

(5.932870515690814, 2.9768361642669956e-09)

Using the `crosstab` function, find the department that has the most hourly workers.

In [27]:
# Your code here:
salarioxhora = salaries[salaries['Salary or Hourly'].str.contains('Hourly')]
departamento = salarioxhora['Department']
horas = salarioxhora['Salary or Hourly']
pd.crosstab(departamento, horas).sort_values(by='Hourly', ascending=False)

Salary or Hourly       Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [32]:
# Your code here:
#import scipy.stats as stats
streets_san = salaries[salaries['Department'].str.contains('STREETS & SAN')]
streets_san_salario = streets_san['Hourly Rate']
streets_san_limpio = streets_san_salario.dropna()
ztest(streets_san_limpio, value=35)

(-9.567447887848152, 1.0957711283886869e-21)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [36]:
# Your code here:
salario_h = salaries['Hourly Rate'].dropna()
salario_hora = pd.to_numeric(salario_h)
salario_media = salario_hora.mean()

#df: degrees of freedom, no confundir con dataframe
n= len(salario_hora)
df = n-1

#Sacamos el error estandar de la media "sem"
from scipy.stats import sem
SE = sem(salario_hora)
nivel_de_confianza = 0.95 #este es por default

# Obtenemos el intervalo de confianza
from scipy.stats import t
t.interval(nivel_de_confianza, df, loc=salario_media, scale=SE)

#Referencia: https://www.youtube.com/watch?v=CV2_brh29eA

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [18]:
# Your code here:

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [37]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest


proportions_ztest(count=8022, nobs=33183, value=.05, prop_var=0.25)

(80.66650216177268, 0.0)