# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
department_count = salaries.groupby('Department').agg({'Name':'count'})
department_count.columns = ['Number of employees']
department_count

                       Number of employees
Department
ADMIN HEARNG                            39
ANIMAL CONTRL                           81
AVIATION                              1629
BOARD OF ELECTION                      107
BOARD OF ETHICS                          8
BUDGET & MGMT                           46
BUILDINGS                              269
BUSINESS AFFAIRS                       171
CITY CLERK                              84
CITY COUNCIL                           411
COMMUNITY DEVELOPMENT                  207
COPA                                   116
CULTURAL AFFAIRS                        65
DISABILITIES                            28
DoIT                                    99
FAMILY & SUPPORT                       615
FINANCE                                560
FIRE                                  4641
GENERAL SERVICES                       980
HEALTH                                 488
HUMAN RELATIONS                         16
HUMAN RESOURCES                         79
INSPECTOR GEN                           87
LAW                                    407
LICENSE APPL COMM                        1
MAYOR'S OFFICE                          85
OEMC                                  2102
POLICE                               13414
POLICE BOARD                             2
PROCUREMENT                             92
PUBLIC LIBRARY                        1015
STREETS & SAN                         2198
TRANSPORTN                            1140
TREASURER                               22
WATER MGMNT                           1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
hourly = salaries[(salaries['Hourly Rate']>0)]
hourly['Hourly Rate'].head()

4     19.86
6     46.10
7     35.60
10     2.65
18    17.68
Name: Hourly Rate, dtype: float64

In [8]:
hourly['Hourly Rate'].mean()

32.78855771628024

In [9]:
from scipy.stats import ttest_1samp

hourly_normal = np.random.normal(hourly['Hourly Rate'], hourly['Hourly Rate'].mean())
hourly_test = ttest_1samp(hourly_normal, 30)
hourly_test

Ttest_1sampResult(statistic=6.933257900641952, pvalue=4.431530135822852e-12)

In [10]:
np.mean(hourly_normal)

32.720639961863576

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [19]:
police = salaries[(salaries['Department'] == 'POLICE') & (salaries['Annual Salary'] > 0)]
police_salaries = police['Annual Salary']
police_salaries.head()

0     101442.0
1      94122.0
9      93354.0
11     84054.0
12     87006.0
Name: Annual Salary, dtype: float64

In [20]:
police_avg = police['Annual Salary'].mean()
police_avg

86486.41450313339

In [21]:
police_normal = np.random.normal(police_salaries, police_avg)
police_test = ttest_1samp(police_normal, 86000)
police_test

Ttest_1sampResult(statistic=1.787473515563971, pvalue=0.07388357599913846)

In [24]:
police_test.pvalue/2

0.03694178799956923

In [25]:
np.mean(police_normal)

87364.99042153485

Using the `crosstab` function, find the department that has the most hourly workers.

In [28]:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly']).sort_values('Hourly', ascending=False).head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [32]:
stsan_hourly = salaries[(salaries['Department'] == 'STREETS & SAN') & (salaries['Hourly Rate'] > 0)]
stsan_hrates = stsan_hourly['Hourly Rate']
stsan_hrates.head()

7     35.60
21    21.43
24    35.60
36    36.21
39    35.60
Name: Hourly Rate, dtype: float64

In [35]:
stsan_avg_hrate = stsan_hrates.mean()

In [36]:
stsan_normal = np.random.normal(stsan_hrates, stsan_avg_hrate)
stsan_test = ttest_1samp(stsan_normal, 35)
stsan_test

Ttest_1sampResult(statistic=-0.005048738204685605, pvalue=0.9959722479674572)

In [37]:
np.mean(stsan_normal)

34.99587534734579

In [38]:
stsan_test.pvalue/2

0.4979861239837286

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [54]:
all_hourly = salaries[salaries['Hourly Rate'] > 0]['Hourly Rate']
all_hourly.count()

8022

In [55]:
all_hourly_avg = all_hourly.mean()
all_hourly_avg

32.78855771628024

In [56]:
from scipy.stats import sem

hourly_sem = sem(all_hourly)
hourly_sem

0.1352368565101596

In [57]:
from scipy.stats import t

t.interval(0.95, all_hourly.count()-1, all_hourly_avg, hourly_sem)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [61]:
po_salaried = salaries[(salaries['Department'] == 'POLICE') & (salaries['Annual Salary'] > 0)]['Annual Salary']
po_salaried.count()

13404

In [62]:
po_salaried_avg = police_salaried.mean()
po_salaried_avg

86486.41450313339

In [63]:
po_salaried_sem = sem(po_salaried)
po_salaried_sem

157.82445675052244

In [64]:
t.interval(0.95, po_salaried.count()-1, po_salaried_avg, po_salaried_sem)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [80]:
import statsmodels
from statsmodels import proportions_ztest

ImportError: cannot import name 'proportions_ztest' from 'statsmodels' (/usr/local/lib/python3.7/site-packages/statsmodels/__init__.py)

In [76]:
all_hourly = salaries[(salaries['Hourly Rate'] > 0)]
all_hourly.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [78]:
all_employees_count = salaries.shape[0]
all_employees_count

33183

In [79]:
proportions_ztest(all_hourly, all_employees_count, 0.25)

NameError: name 'proportions_ztest' is not defined

In [ ]:
proportions_ztest(all_hourly, all_employees_count, 0.95)